.Container{
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 350px;
  width: 400px;
  margin-left: 200px;
  margin-top: 100px;
}


.Container form input {
  width: 250px;
  padding: 0.5rem 1rem;
  border: 1px solid black;
}

.Container form button{
  padding: 0.5rem 1rem;
  border: 1px solid black;
}

